* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #0C0B0B;
}

#root {
  margin: 0;
  padding: 0;
}